 <div class="phoneView">
  <div class="phoneContainer">
        <video src="test2.MOV" controls></video>
        {{!-- <img src="/images/Quiz1.png"> --}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu euismod tortor, et ultrices elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus erat lectus, vestibulum fermentum odio sit amet, luctus ultrices augue. Nunc bibendum ac quam dictum molestie. Proin lobortis egestas luctus. Aenean euismod arcu volutpat eros pretium placerat.</p>
<a href="/transition">Next</a>
 <div class="linkContainer">
</div>
</div>
</div>




<!--  <div class="homePageContainer">




   <div class="homePageLinks">


        <p class="homePageLogin"><a href="/login">LOGIN</a></p>
        <p class="homePageRegister"><a href="/register">REGISTER</a></p>
        <p class="homePageProfile"><a href="/profile">INFO ABOUT YOU</a></p> -->
    <!-- </div>
    <div class="homePageImage">
        <img src="/images/myRobot.jpg" alt="robot">
    </div>
    </div> -->
