 <div class="phoneView">
      <img id="background" src="/images/homenew.png">
</div>

 <div class="videoContainer">
    <iframe width="400" height="260" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
</div>

 <div class="linkContainer">
    <button type="button" ><a href="/transition">Next</a></button>
</div>



 <!--  <div class="homePageContainer">

<div class="homePageLinks">
<p class="homePageLogin"><a href="/login">LOGIN</a></p>
        <p class="homePageRegister"><a href="/register">REGISTER</a></p>
        <p class="homePageProfile"><a href="/profile">INFO ABOUT YOU</a></p> -->
    <!-- </div>
    <div class="homePageImage">
        <img src="/images/myRobot.jpg" alt="robot">
    </div>
    </div> -->
