<div class="phoneView">
      <img id="background" src="/images/quiznew.png">
</div>


<div class="answers">
<form action="/answer" method="post">
{{#each answers}}
    <label for="question1">{{explanation}}</label>
    <input type="radio" name="question" id="question1" value="1">

{{/each}}
</form>
</div>
