<div class="phoneView">
      <img id="background" src="/images/quiznew.png">
</div>


<form action="/answer" method="post">
    <label for="question1">Antwort 1</label>
    <input type="radio" name="question" id="question1" value="1">

    <label for="question2">Antwort 2</label>
    <input type="radio" name="question" id="question2" value="2">

    <label for="question3">Antwort 3</label>
    <input type="radio" name="question" id="question3" value="3">

    <label for="question4">Antwort 4</label>
    <input type="radio" name="question" id="question4" value="4">

    <input type="submit" value="Beantworten">

</form>
</div>