<div class="phoneView">
  <div class="phoneContainer">
        <video src="test2.MOV" controls></video>
       <p>are you ready for the Quiz?</p>
<a href="/">Start video</a>
<a href="/quiz">GO to quiz</a>
 <div class="linkContainer">
</div>
</div>
</div>
