* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}


/* --------------- constant ---------------------------- */

.phoneView {
    position: absolute;
    z-index: 1;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    border: 2px solid black;
    border-radius: 15px;
    width: 490px;
    height: 850px;
}


/* ------------------------------------------- */

.videoContainer {
    position: absolute;
    z-index: 2;
    flex-direction: column;
}

.videoContainer iframe {
    display: flex;
    width: 120%;
    /* height: 50%; */
    margin-top: 77%;
    margin-left: 35%;
}

.linkContainer button {
    position: absolute;
    z-index: 3;
    display: flex;
    background-color: #fec423;
    font-size: 30px;
    font-style: inherit;
    margin-left: 5%;
    margin-top: 5%;
}

.linkContainer button:hover {
    background-color: #90b5fc;
}

.linkContainer button a {
    text-decoration: none;
}

#quiz {
    position: absolute;
    z-index: 3;
    color: #fec423;
    font-size: 40px;
    font-style: inherit;
    margin-left: 10%;
    margin-top: 30%;
}